.portfolio__list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.portfolio__item {
    width: 100%;

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 30px);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc(100% / 3 - 30px);
    }
}