.team {
    background-color: $secondary-bg-color;
    font-size: 16px;
    line-height: 1.19;
}

.team__list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.team__item {
    width: 100%;
    text-align: center;
    background-color: $primary-bg-color;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .14), 0 1px 3px rgba(0, 0, 0, .12), 0 4px 4px rgba(0, 0, 0, .25);

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 30px);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - 30px);
    }
}

.team__text-wrap {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: 1200px) {
        padding-bottom: 30px;
    }
}

.team__name {
    margin-bottom: 10px;
    color: $title-text-color;

    font-weight: 500;
    font-size: 16px;
}

.team__position {
    margin-bottom: 10px;
}