
.address {
    color: $primary-bg-color;
}

.address__text {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.address__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.address__link {
    color: $footer-link-color;   
    text-decoration: none;

    transition: color $duration-animation $cubic-bezier;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}