.filter__list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.filter__item {
    @media screen and (max-width: 768px) {
        margin-bottom: 15px;
    }
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__button {
    padding: 6px 22px;
    color: $title-text-color;
    background-color: $secondary-bg-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;

    transition: color $duration-animation $cubic-bezier,
    background-color $duration-animation $cubic-bezier,
    box-shadow $duration-animation $cubic-bezier;
    
    &:hover,
    &:focus,
    &--current {
        color: $primary-bg-color;
        background-color: $accent-color;
        box-shadow:
        0px 2px 2px 0px rgba(0, 0, 0, .12),
        0px 1px 2px 0px rgba(0, 0, 0, .08),
        0px 3px 1px 0px rgba(0, 0, 0, .1);
    }
}