.site-nav {
    display: flex;
    align-items: center;
}   

.site-nav__list {
    display: flex;

    @media screen and (max-width: 767px) {
        display: none;;
    }
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color $duration-animation $cubic-bezier;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &--current {
        color: $accent-color;
    }

    &--current::after {
        position: absolute;
        left: 0;
        bottom: -1px;

        content: '';
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
    }
}



