    $title-text-color: #212121;
    $primery-text-color: #757575;
    $primary-bg-color: #FFFFFF;
    $secondary-bg-color: #F5F4FA;
    $footer-bg-color: #2F303A;
    $footer-link-color: rgba(255,255,255,.6);
    $icon-color: #AFB1B8;
    $accent-color: #2196F3;
    $accent-color-hover: #188ce8;

    $cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    $duration-animation: 250ms;
    